// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $blue-500 !default;
$brand-info:                 $blue-300 !default;
$brand-success:              $blue-100 !default;
$brand-warning:              $blue-a200!default;
$brand-danger:               $blue-900 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
